IO_LOC "red_led" 69;
IO_PORT "red_led" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "yellow_led" 68;
IO_PORT "yellow_led" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "green_led" 42;
IO_PORT "green_led" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "button_1" 3;
IO_PORT "button_1" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC "button_2" 4;
IO_PORT "button_2" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP; 
